<%= form_for :guests, url: admin_destroy_guests_path, remote: true do |f| %>
  <div class="head-title">
    <span><%= t "admin.brands.title" %></span>

    <span class="pull-right">
      <%= f.submit t("admin.actions.delete"), data: {confirm: t("messages.delete_confirm")},
        class: "btn btn-danger btn-delete", disabled: true %>
    </span>
  </div>

  <table class="table table-striped table-hover">
    <thead>
      <tr class="row-head">
        <th class="td-checkbox select-all">
          <%= check_box_tag :select_all %>
        </th>
        <th><%= t "admin.users.tables.name" %></th>
        <th><%= t "admin.users.tables.email" %></th>
        <th class="action"></th>
      </tr>
    </thead>

    <tbody class="list">
      <%= render partial: "guest", collection: @guests, locals: {ff: f} %>
    </tbody>

    <tfoot class="table-footer">
      <tr>
        <td colspan="5"><%= will_paginate @guests %></td>
      </tr>
    </tfoot>
  </table>
<% end %>
