<% provide :title, t("labels.discount_products") %>

<div id="categories" class="container">
  <div class="row">

    <div class="col-md-9 main-background">
      <ol class="breadcrumb">
        <li><%= link_to t("menu.home"), root_path %></li>
        <li class="active"><%= t "labels.discount_products" %></li>
      </ol>
      <div class="head-title">
        <%= t "labels.discount_products" %>
      </div>
      <%= render "shared/product_list" %>
    </div>

    <div class="col-md-3 no-padding-right">
      <div class="right-bar-panel main-background">
        <div class="small-head-title"><%= t "product.brands" %></div>
        <ul><%= render partial: "shared/brand", collection: @brands, as: :object %></ul>
        <hr>
        <div class="small-head-title"><%= t "product.category" %></div>
        <ul><%= render partial: "shared/brand", collection: @categories,
          as: :object %></ul>
      </div>
    </div>

  </div>
</div>
