<div class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb breadcrumb1 animated wow slideInLeft animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInLeft;">
      <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
      <li class="active">Single</li>
    </ol>
  </div>
</div>

<div class="single">
  <div class="container">
    <div class="col-md-9">
      <div class="col-md-5 grid">
        <div class="flexslider">
          <ul class="slides">
            <li data-thumb="<%= image_path('si.jpg') %>">
              <div class="thumb-image">
                <%= image_tag "si.jpg", "data-imagezoom": true, class: "img-responsive" %>
              </div>
            </li>
            <li data-thumb="<%= image_path('si.jpg') %>">
              <div class="thumb-image">
                <%= image_tag "si.jpg", "data-imagezoom": true, class: "img-responsive" %>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-7 single-top-in">
        <div class="single-para">
          <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h2>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
        </div>
        <label  class="add-to item_price">$70.5</label>
      </div>

      <div class="clearfix"> </div>
      <div class="content-top1">
        <h3 class="cate">Related Product</h3>

        <div class="col-md-4 col-md4">
          <div class="col-md1 simpleCart_shelfItem">
            <a href="single.html">
              <%= image_tag "pi6", class: "img-responsive" %>
            </a>
            <h3><a href="single.html">Trouser</a></h3>
            <div class="price">
              <h5 class="item_price">$300</h5>
              <a href="#" class="item_add">Add To Cart</a>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-md4">
          <div class="col-md1 simpleCart_shelfItem">
            <a href="single.html">
              <%= image_tag "pi6", class: "img-responsive" %>
            </a>
            <h3><a href="single.html">Trouser</a></h3>
            <div class="price">
              <h5 class="item_price">$300</h5>
              <a href="#" class="item_add">Add To Cart</a>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-3">
      <%= render "shared/right_col" %>
    </div>

  </div>
</div>
