<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">
    <%= @brand.new_record? ? t("admin.brands.add_brand") : t("admin.brands.edit_brand") %>
  </h4>
</div>
<div class="modal-body col-md-12">
  <div class="errors"></div>
  <div class="form">
    <%= form_for [:admin, @brand], remote: true do |f| %>
      <div>
        <%= f.text_field :name, placeholder: t("admin.brands.placeholders.name"),
          data: Settings.validations.blank, class: "form-control" %>
      </div><br />

      <div class="action pull-right">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <%= t "admin.actions.cancel" %>
        </button>
        <%= f.submit t("admin.actions.save"), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
