<header class="main-header fix">
  <%= link_to admin_root_path, class: "logo" do%>
    <span class="logo-mini pull-left">
      <strong><%= t "admin_site" %></strong>
    </span>
    <span class="logo-lg pull-left">
      <strong><%= t "admin_site" %></strong>
    </span>
  <% end %>
  <nav class="navbar navbar-static-top">
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"></a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown notifications-menu">
          <%= render "layouts/admin/notification" %>
        </li>
        <%= render "layouts/profile_menu" %>
      </ul>
    </div>
  </nav>
</header>
