<!DOCTYPE html>
<html>
  <head>
    <title><%= t "admin_site" %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  </head>

  <body class="hold-transition skin-blue sidebar-mini admin fixed">
    <div class="admin-wrapper">
      <%= render "layouts/admin/header" %>
      <%= render "layouts/admin/sidebar" %>
      <div class="content-wrapper">
        <div class="flash">
          <%= render "layouts/flash" %>
        </div>

        <%= yield %>
      </div>
      <%= render "layouts/admin/footer" %>
      <div class="control-sidebar-bg"></div>
    </div>
  </body>
</html>
