<div class="filter-loading"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></div>

<%= form_for :invoices, url: admin_destroy_invoices_path do |f| %>
  <div class="head-title">
    <span><%= t "admin.invoices.title" %></span>

    <span class="pull-right">
      <%= f.submit t("admin.actions.delete"),
        data: {confirm: t("messages.delete_confirm")},
        class: "btn btn-danger btn-delete", disabled: true %>
    </span>
  </div>

  <table class="table table-striped table-hover">
    <thead>
      <tr class="row-head">
        <th class="td-checkbox select-all">
          <%= check_box_tag :select_all %>
        </th>
        <th><%= t "admin.invoices.tables.name" %></th>
        <th><%= t "admin.invoices.tables.total_price" %></th>
        <th><%= t "admin.invoices.tables.date" %></th>
        <th class="action"></th>
      </tr>
    </thead>

    <tbody class="list">
      <%= render partial: "invoice", collection: @invoices %>
    </tbody>

    <tfoot class="table-footer">
      <tr>
        <td colspan="5"><%= will_paginate @invoices %></td>
      </tr>
    </tfoot>
  </table>
<% end %>
