<div class="matter-banner">
  <div class="slider">
    <div class="callbacks_container">
      <ul class="rslides" id="slider">
        <% @slide_images.each do |slide_image| %>
          <li>
            <%= image_tag slide_image.picture_url, class: "img-responsive" %>
            <div class="tes animated wow fadeInUp animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
              <h2><%= slide_image.heading1 %></h2>
              <h3><%= slide_image.heading2 %></h3>
              <h4><%= slide_image.heading3 %></h4>
              <p><%= slide_image.heading4 %></p>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
