<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">
    <i class="fa fa-check-circle" aria-hidden="true"></i> &nbsp;
    <%= t "cart.modal_title" %>
  </h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-3">
      <%= link_to image_tag(product.cover_image_url, class: "img-responsive"), product %>
    </div>
    <div class="col-md-9">
      <div class="title"><%= link_to product.name, product %></div>
      <div class="category"><%= product.category_name %></div>
      <div class="price"><%= number_to_currency product.discount_price %></div>
      <% if product.is_discount? %>
        <div class="old-price">
          <span class="net-price">
            <%= number_to_currency product.retail_sale_price %></span> &nbsp;
          <span class="discount">
            <%= t "product.discount" %>:
            <%= percentage_format product.discount %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">
    <%= t "cart.labels.continue_shopping" %>
  </button>
  <%= link_to t("cart.labels.go_to_product_cart"), product_carts_path,
    class: "btn btn-primary btn-cart" %>
</div>
