<tr class="product-cart">
  <td><%= link_to image_product_table(product_invoice.product.cover_image_url),
    product_invoice.product, "data-no-turbolink": true %></td>
  <td>
    <div class="title"><%= link_to product_invoice.product_name,
      product_invoice.product, "data-no-turbolink": true %></div>
    <div class="type"><%= product_invoice.product.category_name %></div>
  </td>
  <td>
    <div class="discount-price" data-discount-price="<%= product_invoice.product_discount_price %>">
      <%= number_to_currency product_invoice.product_discount_price %></div>
    <div class="old-price"><%= number_to_currency product_invoice.product_retail_sale_price %></div>
    <div class="discount">
      <%= "#{percentage_format product_invoice.product_discount} #{t "cart.labels.discount"}" %>
    </div>
  </td>
  <td>
    <div hidden><%= text_field_tag :quantity, product_invoice.quantity,
      class: "product-quantity" if is_invoice %></div>
    <%= product_invoice.quantity %>
  </td>
</tr>
