<tr class="product-cart">
  <td>
  <% if is_invoice %>
    <%= link_to image_product_table(product_invoice.product.cover_image_url),
      product_invoice.product, "data-no-turbolink": true %>
  <% else %>
    <a href="<%= Settings.domain_url %>/products/<%= product_invoice.product_id %>">
      <img src="<%= Settings.domain_url %><%= product_invoice.product.cover_image_url %>"
        width="100" height="100" />
    </a>
  <% end %>
  </td>
  <td>
    <% if is_invoice %>
      <div class="title"><%= link_to product_invoice.product_name,
        product_invoice.product, "data-no-turbolink": true %></div>
    <% else %>
      <div class="title">
        <a href="<%= Settings.domain_url %>/products/<%= product_invoice.product_id %>">
          <%= product_invoice.product_name %>
        </a>
    <% end %>
    <div class="type"><%= product_invoice.product.category_name %></div>
  </td>
  <td>
    <div class="discount-price" data-discount-price="<%= product_invoice.product_discount_price %>">
      <%= number_to_currency product_invoice.product_discount_price %></div>
    <% if product_invoice.product.is_discount? %>
      <div class="old-price">
        <%= number_to_currency product_invoice.product_retail_sale_price %>
      </div>
      <div class="discount">
        <%= "#{percentage_format product_invoice.product_discount} #{t "cart.labels.discount"}" %>
      </div>
    <% end %>
  </td>
  <td>
    <div hidden><%= text_field_tag :quantity, product_invoice.quantity,
      class: "product-quantity" if is_invoice %></div>
    <%= product_invoice.quantity %>
  </td>
</tr>
