<tr class="product-cart">
  <td><%= image_tag "bachi.jpg", width: "100", class: "img-responsive" %></td>
  <td>
    <div class="title"><%= product_order.product_name %></div>
    <div class="type"><%= product_order.product.category_name %></div>
  </td>
  <td>
    <div class="discount-price" data-discount-price="<%= product_order.product_discount_price %>">
      <%= number_to_currency product_order.product_discount_price %></div>
    <div class="old-price"><%= number_to_currency product_order.product_retail_sale_price %></div>
    <div class="discount">
      <%= "#{percentage_format product_order.product_discount} #{t "cart.labels.discount"}" %>
    </div>
  </td>
  <td>
    <div hidden><%= text_field_tag :quantity, product_order.quantity,
      class: "product-quantity" %></div>
    <%= product_order.quantity %>
  </td>
</tr>
