<div class="order-title"><strong><%= t "cart.order_information" %></strong></div>
<dl class="dl-horizontal">
  <dt><%= t "product_invoices.invoice_info.invoice_id" %></dt>
  <dd><%= @invoice.id %></dd>
  <dt><%= t "product_invoices.invoice_info.name" %></dt>
  <dd><%= @user.name %></dd>
  <dt><%= t "product_invoices.invoice_info.email" %></dt>
  <dd><%= @user.email %></dd>
  <dt><%= t "product_invoices.invoice_info.phone_number" %></dt>
  <dd><%= @user.phone_number %></dd>
  <dt><%= t "product_invoices.invoice_info.address" %></dt>
  <dd><%= @user.address %></dd>
</dl>
