<div class="col-md-3 no-padding md3">
  <div class="products">
    <% if product.is_discount? %>
      <div class="discount label label-success">
        <%= "-#{percentage_format product.discount}" %>
      </div>
    <% end %>
    <div class="image">
      <%= link_to image_product_list("bachi.jpg"), product, "data-no-turbolink": true %>
    </div>
    <div class="product-content">
      <div class="title" title="<%= product.name %>">
        <%= link_to text_truncate(product.name, 25), product, "data-no-turbolink": true %>
      </div>
      <div class="type" title="<%= product.category_name %>"><%= product.category_name %></div>
      <div class="price">
        <span class="discount-price"><%= number_to_currency product.discount_price %></span>
        <span class="net-price">
          <%= number_to_currency product.retail_sale_price if product.is_discount? %>
        </span>
      </div>
      <div>
        <%= form_for ProductCart.new, remote: true do |f| %>
          <%= f.hidden_field :product_id, value: product.id %>
          <%= f.submit t("actions.add_to_cart"), class: "btn btn-default btn-add-to-cart full-width" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
