<% provide :title, t("product_invoices.order_success") %>

<div id="product-order" class="container">
  <div class="row success-info main-background">
    <div class="col-md-2 icon">
      <span class="fa-stack fa-lg fa-5x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-check fa-stack-1x fa-inverse" aria-hidden="true"></i>
      </span>
    </div>
    <div class="col-md-10 text">
      <h2><%= t "product_invoices.order_success" %></h2>
      <p><%= t "product_invoices.confirm" %></p><br>
      <p><%= link_to t("product_invoices.continue_shopping"), root_path %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 check-out main-background">
      <table class="table tbl-cart">
        <thead>
          <tr>
            <th class="item"><%= t "cart.tables.item" %></th>
            <th class="name"></th>
            <th class="price"><%= t "cart.tables.price" %></th>
            <th class="quantity"><%= t "cart.tables.quantity" %></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "shared/product_invoice",
            collection: @product_invoices, as: :product_invoice,
            locals: {is_invoice: true} %>
        </tbody>
      </table>
    </div>
    <div class="col-md-4 no-padding-right">
      <div class="order main-background">
        <div class="order-title"><%= t "cart.cart_information" %></div>
        <hr>
        <div class="order-price">
          <span><%= t "cart.total_price" %></span>
          <span class="total"></span>
        </div>
        <hr>
        <div class="order-title"><%= t "cart.order_information" %></div>
        <dl class="dl-horizontal">
          <dt><%= t "product_invoices.invoice_info.invoice_id" %></dt>
          <dd><%= @invoice.id %></dd>
          <dt><%= t "product_invoices.invoice_info.name" %></dt>
          <dd><%= @user.name %></dd>
          <dt><%= t "product_invoices.invoice_info.email" %></dt>
          <dd><%= @user.email %></dd>
          <dt><%= t "product_invoices.invoice_info.phone_number" %></dt>
          <dd><%= @user.phone_number %></dd>
          <dt><%= t "product_invoices.invoice_info.address" %></dt>
          <dd><%= @user.address %></dd>
        </dl>
      </div>
    </div>
  </div>
</div>
