<% provide :title, t("product_invoices.order_success") %>

<div id="product-order" class="container">
  <div class="row success-info main-background">
    <div class="col-md-2 icon">
      <span class="fa-stack fa-lg fa-5x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-check fa-stack-1x fa-inverse" aria-hidden="true"></i>
      </span>
    </div>
    <div class="col-md-10 text">
      <h2><%= t "product_invoices.order_success" %></h2>
      <p><%= t "product_invoices.confirm" %></p><br>
      <p><%= link_to t("product_invoices.continue_shopping"), root_path %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 check-out main-background">
      <%= render "shared/invoice_table" %>
    </div>
    <div class="col-md-4 no-padding-right">
      <div class="order main-background">
        <div class="order-title"><%= t "cart.cart_information" %></div>
        <hr>
        <div class="order-price">
          <span><%= t "cart.total_price" %></span>
          <span class="total"></span>
        </div>
        <hr>
        <%= render "shared/purchaser_information" %>
      </div>
    </div>
  </div>
</div>
