<div id="admin-product">
  <div class="bread-crumb">
    <ol class="breadcrumb">
      <li><%= link_to t("menu.home"), admin_root_path %></li>
      <li class="active"><%= t "admin.contacts.title" %></li>
    </ol>
  </div>
  <div class="background-form">

    <div class="row">
      <div class="head-title">
        <%= t "admin.contacts.title" %>
        <%= link_to edit_admin_contact_path(@contact), class: "pull-right" do %>
          <i class="fa fa-pencil" aria-hidden="true"></i>
          <%= t "admin.actions.edit" %>
        <% end %>
      </div>
      <hr>
      <div class="col-md-12">
        <dl class="dl-horizontal">
          <dt><%= t "admin.contacts.address" %>:</dt>
          <dd><%= @contact.address %></dd>
          <dt><%= t "admin.contacts.email" %>:</dt>
          <dd><%= @contact.email %></dd>
          <dt><%= t "admin.contacts.phone_number" %>:</dt>
          <dd><%= @contact.phone_number %></dd>
          <dt><%= t "admin.contacts.content" %>:</dt>
          <dd><%= @contact.safe_content %></dd>
        </dl>
      </div>
    </div>

  </div>
</div>
