<%= form_for :category, url: admin_destroy_categories_path, remote: true do |f| %>
  <div class="head-title">
    <span><%= t "categories.category" %></span>

  <span class="pull-right">
    <%= link_to new_admin_category_path, remote: true, class: "btn btn-primary",
      data: {toggle: "modal", target: "#form-modal"} do %>
      <%= t "categories.add" %>
    <% end %>
    <%= f.submit t("categories.delete"), data: {confirm: t("messages.delete_confirm")},
      class: "btn btn-danger btn-delete", disabled: true %>
  </span>

  </div>

  <table class="table table-striped table-hover" id="category">
    <thead>
      <tr class="row-head">
        <th class="td-checkbox select-all">
          <%= check_box_tag :select_all %>
        </th>
        <th><%= t "categories.thead.name" %></th>
        <th class="action"></th>
      </tr>
    </thead>

    <tbody class="list">
      <%= render partial: "category", collection: @categories, locals: {ff: f} %>
    </tbody>

    <tfoot class="table-footer">
      <tr>
        <td colspan="3"><%= will_paginate @categories %></td>
      </tr>
    </tfoot>
  </table>
<% end %>
