<% provide :title, @invoice.name %>

<div id="product-order" class="container">
  <div class="row">
    <div class="col-md-12 check-out main-background">
      <ol class="breadcrumb">
        <li><%= link_to t("menu.home"), root_path %></li>
        <li class="active"><%= @invoice.name %></li>
      </ol>

      <div class="head-title"><%= @invoice.name %></div>
      <table class="table tbl-cart">
        <thead>
          <tr>
            <th class="item"><%= t "cart.tables.item" %></th>
            <th class="name"></th>
            <th class="price"><%= t "cart.tables.price" %></th>
            <th class="quantity"><%= t "cart.tables.quantity" %></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "shared/product_invoice",
            collection: @product_invoices, as: :product_invoice,
            locals: {is_invoice: true} %>
        </tbody>
      </table>
    </div>
    <div class="pull-right"><%= will_paginate @product_invoices %></div>
  </div>
</div>
