<div class="bread-crumb">
  <ol class="breadcrumb">
    <li><%= link_to t("menu.home"), admin_root_path %></li>
    <li class="active"><%= t "admin.users.title" %></li>
  </ol>
</div>
<%= render "filter" %><br>
<div class="infor">
  <%= render "infor" %>
</div>

<%= render "admin/shared/form_modal" %>
