<tr class="guest-cart product-cart cart-<%= product.id %>">
  <td><%= link_to image_product_table("bachi.jpg"), product %></td>
  <td>
    <div class="title"><%= link_to product.name, product %></div>
    <div class="type"><%= product.category_name %></div>
  </td>
  <td>
    <div class="discount-price" data-discount-price="<%= product.discount_price %>">
      <%= number_to_currency product.discount_price %></div>
    <div class="old-price"><%= number_to_currency product.retail_sale_price %></div>
    <div class="discount">
      <%= "#{percentage_format product.discount} #{t "cart.labels.discount"}" %>
    </div>
  </td>
  <td><%= number_field_tag :number, product_quantity(@product_object, product.id),
    "data-product-id": product.id, min: 1,
    class: "form-control product-quantity" %></td>
  <td>
    <%= link_to "#", class: "remove", "data-product-id": product.id,
      title: t("cart.actions.remove") do %>
      <i class="fa fa-times" aria-hidden="true"></i>
    <% end %>
  </td>
</tr>
