<div id="promotion" class="container">
  <div class="row">
    <div class="col-md-12 main-background">
      <ol class="breadcrumb">
        <li><%= link_to t("menu.home"), root_path %></li>
        <li class="active"><%= t "promotions.title" %></li>
      </ol>

      <div class="head-title"><%= t "promotions.title" %></div>
      <div class="promotion-list"><%= render @promotions %></div>
      <div class="pull-right"><%= will_paginate @promotions %></div>
    </div>
  </div>
</div>
