<% provide :title, @product.name %>
<% provide :name, @product.name %>
<% provide :description, strip_tags(@product.description) %>
<% provide :image, get_full_path(@product.cover_image_url) %>

<div id="product-show" class="container">
  <div class="row">
    <div class="col-md-9 main-background">
      <div class="product-detail">
        <ol class="breadcrumb">
          <li><%= link_to t("menu.home"), root_path %></li>
          <li><%= link_to @product.category_name, @product.category %></li>
          <li class="active"><%= @product.name %></li>
        </ol>

        <div class="small-head-title">
          <%= @product.name %>
          <span class="fb-like pull-right" data-href="<%=  request.original_url %>"
            data-layout="button_count" data-action="like" data-show-faces="true"
            data-share="true"></span>
        </div>
        <hr>
        <div class="col-md-4 md4">
          <div id="slider" class="flexslider">
            <ul class="slides">
              <li>
                <%= image_tag @product.cover_image_url, class: "img-responsive" %>
              </li>
              <% @images.each do |image| %>
                <li>
                  <%= image_tag image.name_url, class: "img-responsive" %>
                </li>
              <% end %>
            </ul>
          </div>
          <div id="carousel" class="flexslider">
            <ul class="slides">
              <li>
                <%= image_tag @product.cover_image_url, class: "img-responsive" %>
              </li>
              <% @images.each do |image| %>
                <li>
                  <%= image_tag image.name_url, class: "img-responsive" %>
                </li>
              <% end %>
            </ul>
          </div>

        </div>

        <div class="col-md-8 md8">
          <table class="tbl-product">
            <tr>
              <td><%= t "product.code" %></td>
              <td><%= @product.code %></td>
            </tr>
            <tr>
              <td class="category"><%= t "product.category" %></td>
              <td><%= link_to @product.category_name, @product.category %></td>
            </tr>
            <tr>
              <td><%= t "product.brand" %></td>
              <td><%= link_to @product.brand_name, @product.brand %></td>
            </tr>
            <tr>
              <td><%= t "product.price" %></td>
              <td>
                <span class="discount-price"><%= number_to_currency @product.discount_price %></span>
                <span class="old-price"><%= number_to_currency @product.retail_sale_price if @product.is_discount? %></span>
              </td>
            </tr>
            <% if @product.is_discount? %>
              <tr>
                <td><%= t "product.discount" %></td>
                <td class="discount"><%= percentage_format @product.discount %></td>
              </tr>
            <% end %>
          </table>
          <div class="action-cart">
            <%= render "shared/btn_add_to_cart", product: @product %>
          </div>
        </div>

        <div class="clearfix"></div>
        <hr>
        <div class="description">
          <div class="title"><%= t "product.description" %></div>
          <%= @product.safe_description %>
        </div>

        <%= render "shared/fb_comment" %>
      </div>

    </div>

    <div class="col-md-3 no-padding-right">
      <div class="right-bar main-background">
        <div class="small-head-title"><%= t "product.related_products" %></div>
        <%= render partial: "shared/product_media", collection: @related_products,
          as: :product %>
        <hr>
        <div class="small-head-title"><%= t "product.brand" %></div>
        <ul><%= render partial: "shared/brand", collection: @brands, as: :object %></ul>
        <hr>
        <div class="small-head-title"><%= t "product.category" %></div>
        <ul><%= render partial: "shared/brand", collection: @categories, as: :object %></ul>
      </div>
    </div>

  </div>
</div>

<%= render "shared/modal_cart" %>
