<% contact = Contact.first %>
<div class="footer-bottom">
  <div class="container">
    <div class="col-md-2 footer-bottom-cate">
      <h6><%= t "footer.categories" %></h6>
      <ul>
        <% Category.all.each do |category| %>
          <li><%= link_to category.name, category %></li>
        <% end %>
      </ul>
    </div>

    <div class="col-md-2 footer-bottom-cate">
      <h6><%= t "footer.brands" %></h6>
      <ul>
        <% Brand.all.each do |brand| %>
          <li><%= link_to brand.name, brand %></li>
        <% end %>
      </ul>
    </div>

    <div class="col-md-4 footer-bottom-cate address">
      <h6><%= t "footer.our_address" %></h6>
      <ul>
        <li>
          <strong><%= t "footer.address" %></strong>
          <%= contact.address if contact %>
        </li>
        <li>
          <strong><%= t "footer.email" %></strong>
          <%= contact.email if contact %>
        </li>
        <li>
          <strong><%= t "footer.phone" %></strong>
          <%= contact.phone_number if contact %>
        </li>
      </ul>
    </div>

    <div class="col-md-4 footer-bottom-cate facebook">
      <h6><%= t "footer.facebook" %></h6>
      <ul>
        <div class="fb-page" data-href="https://www.facebook.com/Robeca-Cambodia-461286390719798/?fref=ts" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Robeca-Cambodia-461286390719798/?fref=ts" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Robeca-Cambodia-461286390719798/?fref=ts">Robeca Cambodia</a></blockquote></div>
      </ul>
    </div>

    <div class="clearfix"></div>
    <p class="footer-class">
      <%= t "footer.reserved", year: l(Time.zone.now, format: :year) %>
    </p>
  </div>
</div>
