<!DOCTYPE html>
<html>
  <head>
    <title><%= set_title yield(:title) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "logo.ico" %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="<%= t 'keywords' %>" />
    <meta name="description" content="<%= t 'description' %>" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <%= render "layouts/fb_meta" %>
  </head>
  <body>
    <div class="header">
      <%= render "layouts/nav" %>
      <%= render "layouts/search_dialog" %>
    </div>

    <div class="user">
      <div class="flash"><%= render "layouts/flash" %></div>
    </div>

    <%= yield %>

    <div class="footer">
      <%= render "layouts/footer_bottom" %>
    </div>
  </body>
</html>
